body{
    background-image: url("squairy_light.png");
    background-color: #cccccc;
}



#Header{
    position: absolute;
    Width: 100%;
    Border-bottom: 2px solid lightgrey;
    background-color: seashell;
}

.box{
    color: #4aaaa5;
}

#logo{
position: absolute;
Border: 1px solid #cccccc;
padding: 20px;
background-color: #4aaaa5;
left: 50px;
text-decoration: none;
color: white;
font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav{
padding: 20px;
Float: right;
text-decoration: none;
}

#navi{
    text-decoration: none;
    color: grey;
}

.heading{
    border-bottom: 5px solid lightgrey;
    padding: 20px;
    color: #4aaaa5;
    font-size: 30px;
    font-weight: bold;

}

#Main-container{
top: 80px;
margin: auto;
position: relative;
Border: 1px solid none;
padding: 20px;
width: 960px;
background-color: seashell;
align: center;
}



footer{
    position: absolute;
    Width: 100%;
    Border-top: 2px solid lightgrey;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: seashell;
    color: white;
    text-align: center;
    padding: 15px;
    color: #4aaaa5;
}

.foot{
    padding: 30px;
    color: #4aaaa5;

}