nav.nav-center ul {
    text-align: center;
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

.brand-logo{
    margin-left: 35px;
    
}

nav{
    border-bottom: 3px solid rgba(230, 230, 230, 0.87);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  
      