.material{
float: left !important;

}

hr.card-line{
border-color: #ff1744;
border-width: .5px;
}


.github{
    text-align: center;
}

.input-field label {
    color: #ffffff;
  }
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #ff1744;
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    border-bottom: 1px solid #ff1744;
    box-shadow: 0 1px 0 0 #ff1744;
  }
  /* valid color */
  .input-field input[type=text].valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  /* invalid color */
  .input-field input[type=text].invalid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #000000;
  }


label.active {
    color: #ff1744 !important;

}

.submit{
   
}



form{
    width: 75% !important;
    margin-left: 11% !important;
    margin-right: 11% !important;
 
}

td {
    color: white;
}

tr{
    border-right: 1.5px solid #ff1744;
   color: red;
}


nav.nav-center ul {
    text-align: center;
  
}
nav.nav-center ul li {
    display: inline;
    float: none;
}
nav.nav-center ul li a {
    display: inline-block;
}

#top-name{
    margin-left:60px
}

nav{
    border-bottom: 1.5px solid #ff1744;
}

.head{
margin-top: 30px;
}

.page-footer{
    border-top: 1.5px solid #ff1744;
}

p{
    font-family: 'Ledger', serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

  }

  main {
    flex: 1 0 auto;
  }

  footer{
    position: relative;
    bottom:0;
    left:0;
    width: 100%;
   }

#about-me{
    font-family: 'Ledger', serif; 
    margin-top: 12px;
}

.lets-talk{
    font-family: 'Ranga'; 
    color: #ff1744;
    font-size: 18px;
}

#header{
    font-size: 23px;
    margin-right: 2.5px;
}

#header-name{
    font-family: 'Ranga'; 
    color: #ff1744;
    font-size: 26px;
}

.rutgers{
    margin-top: 20px;
    font-weight: bold;
}

.brand-logo{
    font-family: 'Ranga'; 
    color: #ff1744;
    margin-left: 20px;
    font-size: 25px;
}  

#btn-1{

    margin-top: 15px;
  margin-right: 40px; 
    
}

#resume{
    margin-top: -20px;
}

.footer-copyright{

    border-top: 1px solid #ff1744;

}

#nav-mobile {
    font-family: 'Ledger', serif;
  text-decoration: none;
    color: #cfd8dc;
  -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-left: 128px;
    
}

#nav-mobile:after {
	content: "";
	background-color: tomato;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

#nav-mobile:hover {
	color: #ff1744;
}

#nav-mobile:hover:after {
	width: 100%;
}

.card-content{
    border-top: 1px solid #ff1744;
    height: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ff1744;
}

.card.medium{
height: auto !important;
color: black;
}

.parallax-container .parallax img {
    opacity: 100;
}

.fa-location-arrow{
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    border: 1px #a3a3a3 solid;
    border-radius: 75%;
    color: #454545;
    padding: 10px;
}

h3, h4 ,h5, h6, #hello{
    font-family: 'Ledger', serif;
}

.bb{
width: 400px;
}

#skill{
    font-family: 'Ranga'; 
    color: #ff1744;
}

#my-skill{
    height: 325px;
}


.parallax-container {
    height: 420px;
  }


  .name{
color: #cfd8dc;
font-family: 'Ledger', serif;

  }

.fa-breifcase{
    color: black;
}

  .icon{
    width: 300px;
    height: 60px;
    margin-left: -100px;
  }

  .center{
      color:#cfd8dc;
  }

  .me{
      width: 300px;
      position: center;
      margin-left: auto;
      margin-right: auto;
  }

.col-1{
    border-right: 1px solid #ff1744;

}

.col-2{
    border-right: 1px solid #ff1744;
}


#icon{
    color: grey;
}

/* scroll up button style*/
.scrollUp {
    padding: 12px;
    text-align: center;
    color: #FFF;
    text-decoration: none;
    position: fixed;
    bottom: 75px;
    right: 45px;
    display: none;
    background: #ff1744;
    border-radius: 50%;
}

.scrollUp:hover {
    text-decoration: none;
}

.fa-tablet {
    margin: 0 auto;
    animation-name: stretch;
    animation-duration: 1.5s; 
    animation-timing-function: ease-out; 
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
  }
  
/* stretch animation*/

  @keyframes stretch {
    0% {
      transform: scale(.5);
    }
    50% {
    }
    100% {
      transform: scale(1);
    }
  }
  

